module12-AgenticAI/03-n8n-workflows/Customer-Lookup.json
{
  "name": "Customer Lookup",
  "nodes": [
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1r0LIoF0dngb0xtcyOVKMLrvStbfbDKUxhA_EWKlDWlY",
          "mode": "list",
          "cachedResultName": "Customer Database",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r0LIoF0dngb0xtcyOVKMLrvStbfbDKUxhA_EWKlDWlY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r0LIoF0dngb0xtcyOVKMLrvStbfbDKUxhA_EWKlDWlY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Email",
              "lookupValue": "={{ $json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        0
      ],
      "id": "db807b86-cfab-4a74-bf97-cf8d0f81c7d3",
      "name": "Email lookup",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hUdIbAYB3erNmA2K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "mode": "url",
          "value": "https://docs.google.com/spreadsheets/d/1r0LIoF0dngb0xtcyOVKMLrvStbfbDKUxhA_EWKlDWlY/edit?usp=drivesdk",
          "__regex": "https:\\/\\/(?:drive|docs)\\.google\\.com(?:\\/.*|)\\/d\\/([0-9a-zA-Z\\-_]+)(?:\\/.*|)"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Customers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1r0LIoF0dngb0xtcyOVKMLrvStbfbDKUxhA_EWKlDWlY/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Id",
              "lookupValue": "={{ $json.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        0,
        192
      ],
      "id": "987e38dd-92be-4abb-8351-573936b6dae1",
      "name": "ID lookup",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hUdIbAYB3erNmA2K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f74fffd8-226b-4698-b789-b5b3bb1628bf",
              "leftValue": "={{ $json.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -448,
        192
      ],
      "id": "25542263-90eb-4c16-ae89-f550f1131581",
      "name": "hasEmail?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "683caad0-3390-4ead-a837-c68ef7132213",
              "leftValue": "={{ $json.id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -224,
        288
      ],
      "id": "3c68850f-b780-4dc5-b5c9-721ddd89494b",
      "name": "hasID?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "111122c0-4ea0-4f69-bb04-82c1f0a52777",
              "leftValue": "={{ $json.Id }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "a350abc3-3403-4442-b20e-bbcba3013473",
              "leftValue": "={{ $json['Is Active'] }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": false
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        96
      ],
      "id": "b48333e5-37de-4f58-a306-cb6814d4f269",
      "name": "If"
    },
    {
      "parameters": {
        "errorMessage": "No id or email were sent to search the customer"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        0,
        384
      ],
      "id": "7078b74a-8aee-4375-b5a7-2cf25ecf8f43",
      "name": "Stop and Error"
    },
    {
      "parameters": {
        "errorMessage": "Customer doesn't exist"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        448,
        192
      ],
      "id": "7e9eced7-e6e6-4a0c-9c5e-416738dcad34",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"id\": \"a string\",\n  \"email\": 123\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -672,
        192
      ],
      "id": "7c478265-2f42-4a09-8ca1-ae0c9e987d71",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Email lookup": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ID lookup": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasEmail?": {
      "main": [
        [
          {
            "node": "Email lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "hasID?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "hasID?": {
      "main": [
        [
          {
            "node": "ID lookup",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "hasEmail?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "088ead6f-7e98-486c-8373-56b6a70dac28",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b948dc1e511c10ee55edde8f4d557acdc57cd5cd81c1d96dc805e9a629c900f"
  },
  "id": "uPVpLchuuHt0lBFE",
  "tags": [
    {
      "updatedAt": "2026-03-22T14:55:47.619Z",
      "createdAt": "2026-03-22T14:55:47.619Z",
      "id": "0SF2reeuYLb4C8dB",
      "name": "exercises"
    }
  ]
}