module12-AgenticAI/03-n8n-workflows/Customer-Main.json
{
  "name": "Customer Main",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -16
      ],
      "id": "771231f9-82b3-46f1-b65c-4f564bca22ca",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "if (Math.random() < 0.5) {\n  return {id: Math.floor(Math.random()*100)}\n} else {\n  const mails = [\n  'lshaw53@example.com',\n  'rturner54@example.com',\n  'telliott55@example.com',\n  'dwebb56@example.com',\n  'hchase57@example.com',\n  'cross58@example.com',\n  'jnichols59@example.com',\n  'lpena60@example.com',\n  'mschmidt61@example.com',\n  'aobrien62@example.com',\n  'kcurtis63@example.com',\n  'sfrancis64@example.com',\n  'cmyers65@example.com',\n  'rflores66@example.com',\n  'jwalter67@example.com',\n  'lgraham68@example.com',\n  'mwheeler69@example.com',\n  'dhayes70@example.com',\n  'ncastillo71@example.com',\n  'cmitchell72@example.com',\n  'srodriguez73@example.com',\n  'bmarshall74@example.com',\n  'mstone75@example.com',\n  'fboyd76@example.com',\n  'jchavez77@example.com',\n  'dwallace78@example.com',\n  'rfisher79@example.com',\n  'jowens80@example.com',\n  'snewman81@example.com',\n  'pcarroll82@example.com',\n  'lford83@example.com',\n  'aharris84@example.com',\n  'vschultz85@example.com',\n  'tstevens86@example.com',\n  'dmontgomery87@example.com',\n  'hray88@example.com',\n  'cpena89@example.com',\n  'jporter90@example.com',\n  'vfranklin91@example.com',\n  'pmitchell92@example.com',\n  'jwatson93@example.com',\n  'mweaver94@example.com',\n  'rlong95@example.com',\n  'kwoods96@example.com',\n  'sjohnson97@example.com',\n  'glee98@example.com',\n  'hscott99@example.com',\n  'zadams100@example.com',\n];\nconst email = mails[ Math.floor(Math.random()*mails.length) ]\n  return {email}\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -256,
        -16
      ],
      "id": "798f4ee4-f560-4c60-9430-de2b062c8557",
      "name": "Generate Random Stuff"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "uPVpLchuuHt0lBFE",
          "mode": "list",
          "cachedResultUrl": "/workflow/uPVpLchuuHt0lBFE",
          "cachedResultName": "Customer Lookup"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -48,
        -16
      ],
      "id": "fff20023-6bdf-4698-a078-44696cdc9007",
      "name": "Call 'Customer Lookup'"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Name:  {{ $json['First Name'] }} {{ $json['Last Name'] }}\nLocation: {{ $json.City }}\nFavorite Tacos: {{ $json['Favorite Tacos (comma separated)'] }}\nAllowed Discount Rate: {{ $json['Allowed Discount Rate'] }}",
        "options": {
          "systemMessage": "You are a professional email writer for \"Tacolicious.com\". You are Given the name, Location and Favorite Tacos from a registered Customer. \nInform them about their allowed Discounts at our place \"Tacolicious.com\"."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        160,
        -16
      ],
      "id": "75cdaa46-88d3-4459-b161-862ed603cdab",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        32,
        192
      ],
      "id": "cb55d436-a4a8-4d1d-a86c-8213161f14f9",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "PKH9L53ZdNChWpgT",
          "name": "Ollama account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Generate Random Stuff",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Random Stuff": {
      "main": [
        [
          {
            "node": "Call 'Customer Lookup'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Customer Lookup'": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3b5d86cf-1c29-46bb-b7aa-9b1dba02a464",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b948dc1e511c10ee55edde8f4d557acdc57cd5cd81c1d96dc805e9a629c900f"
  },
  "id": "Yf0jM69v2JpsYhRc",
  "tags": [
    {
      "updatedAt": "2026-03-22T14:55:47.619Z",
      "createdAt": "2026-03-22T14:55:47.619Z",
      "id": "0SF2reeuYLb4C8dB",
      "name": "exercises"
    }
  ]
}