module12-AgenticAI/03-n8n-workflows/Ticket-Classifier.json
{
  "name": "Ticket Classifier",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"message\": \"{{ $json.message }}\",\n  \"source\": \"{{ $json.source }}\",\n  \"customer_type\": \"{{ $json.customer_type }}\"\n} ",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an AI assistant working for a taco delivery startup. \n\nCustomers send messages through different sources like WhatsApp, Instagram, email, and website chat. \nYour job is to understand what the customer wants and decide what should happen next.\n\nYou will receive:\n- a message\n- the source\n- the customer type\n\nTry to figure out what the customer probably means and what the best next step is.\n\nPossible things customers might ask about include:\nmenu, tacos, prices, ordering, problems with orders, delivery, promotions, catering, partnerships, feedback, and other things.\n\n\nUse your best judgment to determine:\n- what the user wants\n- the language they are using\n- how confident you are\n- what flow should handle this\n\nCustomer types might be things like:\nnew customers, existing customers, business customers, or something else if it seems right.\n\n\nFit any request to one of those flows for handoff, Do not invent any other kinds of flows.\n\nTry to respond with useful information about what the message means.\n\nExample structure you could return:\n\nintent: something like menu_question, ordering, issue, complaint, or other\nlanguage: detect language\nconfidence: a number\nflow: which flow might handle it\n\nIf you think there are multiple intents, you can include them.\n\nYou can also include helpful notes if needed.\n\nInput:\nmessage\nsource\ncustomer_type\n\nOutput: JSON\nintent: string\nlanguage: string\nsuggested_flow: string\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [-896, 48],
      "id": "5344f9ac-bf2e-4534-8585-78e523d5e515",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.suggested_flow }}",
                    "rightValue": "order_capture_flow",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "4951fe79-1604-4400-b144-8b5700ce01bb"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "New Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e836d2a6-fa6e-49fc-a998-6b52bd5df9b3",
                    "leftValue": "={{ $json.suggested_flow }}",
                    "rightValue": "order_tracking_flow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Track Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5d91f19f-1387-4f27-ad38-e4a08285e69e",
                    "leftValue": "={{ $json.suggested_flow }}",
                    "rightValue": "order_change_flow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Change Order"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "31569b2a-5b74-4b79-9c32-c8c6b094d607",
                    "leftValue": "={{ $json.suggested_flow }}",
                    "rightValue": "cancel_order_flow",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Cancel Order"
            }
          ]
        },
        "options": {
          "fallbackOutput": "none"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [-256, 176],
      "id": "886a4833-5d7e-4bf6-81b8-b6d046f49521",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [-1328, 192],
      "id": "7cf8d886-1d9a-4669-80c9-a9e3198d6343",
      "name": "Get Customer Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "048bdf17-04df-464e-b9d3-419f4f9fa4ff",
              "name": "intent",
              "value": "={{ $json.output.intent }}",
              "type": "string"
            },
            {
              "id": "ead42b37-6dd4-48d4-9f13-68fa7085fccb",
              "name": "language",
              "value": "={{ $json.output.language }}",
              "type": "string"
            },
            {
              "id": "ac2d095a-0359-4077-97be-c8648bf93e81",
              "name": "suggested_flow",
              "value": "={{ $json.output.suggested_flow }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-544, 48],
      "id": "505e359a-608b-4eb5-b1c9-5cba77c783f2",
      "name": "Parse Response"
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-1056, 288],
      "id": "cc720d70-2de1-4d4f-b9f7-c010bc67c1ed",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "Gq6z3ZDtzDWqhN5y",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LFx3sqLE6HF0K5nweMkZy0QU6VWAAVYdd5MAiTNV1BI/edit?gid=401819836#gid=401819836",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LFx3sqLE6HF0K5nweMkZy0QU6VWAAVYdd5MAiTNV1BI/edit?gid=401819836#gid=401819836",
          "mode": "url"
        },
        "limitRows": true,
        "filtersUI": {
          "values": []
        }
      },
      "type": "n8n-nodes-base.evaluationTrigger",
      "typeVersion": 4.7,
      "position": [-1280, 16],
      "id": "e1838761-cd18-4f6d-996b-a0b3401e716f",
      "name": "When fetching a dataset row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hUdIbAYB3erNmA2K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [-896, 288],
      "id": "eca1c2ab-7f31-453f-8309-8d3522fe5ee9",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "Gq6z3ZDtzDWqhN5y",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"intent\": \"order_status_issue\",\n  \"language\": \"German\",\n  \"confidence\": 0.95,\n  \"suggested_flow\": \"order_tracking_and_support\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [-736, 256],
      "id": "b649f595-e21b-45ab-b300-b5394f996a97",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "source": "googleSheets",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LFx3sqLE6HF0K5nweMkZy0QU6VWAAVYdd5MAiTNV1BI/edit?gid=401819836#gid=401819836",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1LFx3sqLE6HF0K5nweMkZy0QU6VWAAVYdd5MAiTNV1BI/edit?gid=401819836#gid=401819836",
          "mode": "url"
        },
        "outputs": {
          "values": [
            {
              "outputName": "actual_flow",
              "outputValue": "={{ $json.suggested_flow }}"
            },
            {
              "outputName": "actual_language",
              "outputValue": "={{ $json.language }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [-368, -160],
      "id": "c7461116-f44f-49d6-81d7-89461646c1c9",
      "name": "Evaluation",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "hUdIbAYB3erNmA2K",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "setMetrics",
        "metric": "categorization",
        "expectedAnswer": "={{ $('When fetching a dataset row').item.json.expected_flow }}",
        "actualAnswer": "={{ $json.suggested_flow }}",
        "options": {
          "metricName": "Categorization"
        }
      },
      "type": "n8n-nodes-base.evaluation",
      "typeVersion": 4.8,
      "position": [-160, -160],
      "id": "1839193c-bafe-4424-b008-d008d6294d69",
      "name": "Evaluation1"
    }
  ],
  "pinData": {
    "Get Customer Request": [
      {
        "json": {
          "message": "How much are tacos?",
          "source": "email",
          "customer_type": "existing_customer"
        }
      }
    ]
  },
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Response": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          },
          {
            "node": "Evaluation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When fetching a dataset row": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [[]]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Evaluation": {
      "main": [
        [
          {
            "node": "Evaluation1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "04971054-a048-4260-97a5-0e4bd8285681",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6b948dc1e511c10ee55edde8f4d557acdc57cd5cd81c1d96dc805e9a629c900f"
  },
  "id": "XmsHIazyiA0SHmoY",
  "tags": [
    {
      "updatedAt": "2026-03-22T14:55:47.619Z",
      "createdAt": "2026-03-22T14:55:47.619Z",
      "id": "0SF2reeuYLb4C8dB",
      "name": "exercises"
    }
  ]
}
