module12-AgenticAI/03-n8n-workflows/zettel-edit-form.json
{
  "name": "zettel-edit-form",
  "nodes": [
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.zettelhtml }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "text/html"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [448, 0],
      "id": "fd108859-84c3-4488-9f7a-0ace5bee1c40",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "rawBody": false
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [0, 0],
      "id": "51f524f7-71e0-4c49-91e0-e37381a156a6",
      "name": "Webhook",
      "webhookId": "b43fc8ab-cb13-4ddd-9e26-ca9ef24a5378"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "TrgvcHqyI6Aq2ZIU",
          "mode": "list",
          "cachedResultName": "kassenzettel",
          "cachedResultUrl": "/projects/XJIjlMZFCxfRf2Fm/datatables/TrgvcHqyI6Aq2ZIU"
        },
        "matchType": "allConditions",
        "filters": {
          "conditions": [
            {
              "keyName": "zettelid",
              "keyValue": "={{ $json.params.id }}"
            }
          ]
        },
        "limit": 1
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [224, 0],
      "id": "444139c1-ba21-439c-bf73-80874466aabb",
      "name": "Get row(s)"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b1141f81-666b-41f8-afe4-98f6272f2e77",
  "meta": {
    "instanceId": "6b948dc1e511c10ee55edde8f4d557acdc57cd5cd81c1d96dc805e9a629c900f"
  },
  "id": "2S5KsYfqwbJ9aQtN",
  "tags": [
    {
      "updatedAt": "2026-03-22T10:40:47.895Z",
      "createdAt": "2026-03-22T10:40:47.895Z",
      "id": "Kx6dMYMFRgBgbM5c",
      "name": "kassenzettel"
    }
  ]
}
